<section id="home" class="hero-section">
    <div class="container">
        <div class="col-12 col-lg-10 p-3 mx-auto text-center big-white-modal d-flex flex-column justify-content-center align-items-center">
            <h2>Welcome to your personal area</h2>
            <h4>
                Here you can manage your projects and your NFTs collections.
            </h4>

            <div class="my-projects mt-5">
                <h2 class="mb-5">My projects</h2>
                {{#each user.projects}}
                    <h3 class="mb-3">{{ name }}</h3>
                    <div class="row project-container align-items-center justify-content-center justify-content-lg-start">
                        {{#each nftCollections}}
                            <div class="col-10 col-md-6 col-lg-4 col-xl-3 nft-collection-container">
                                <div class="nft-card-2">
                                    <a href="/user/collection/{{ _id }}">
                                        <div class="collection-item-image">
                                            <img src="/layers/{{ ../../user.uuid }}/build/preview.gif" style="width: 100%" alt="{{ name }}">
                                        </div>
                                        <div class="row py-3 nft-collection-name-2">
                                            <h5 class="col-6 ellipsis text-left">
                                                {{ name }}
                                            </h5>
                                            <h5 class="col-6 ellipsis text-right">
                                                {{ symbol }} {{ ../numberToGenerate }}
                                            </h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {{/each}}
                        <div class="col-10 mt-3 col-md-6 mt-md-0 col-lg-4 col-xl-3 create-another-collection-container">
                            <div class="nft-card-2 d-flex flex-column justify-content-center">
                                <div class="folder-plus-container">
                                    <div class="folder" onclick="openFolderBrowser()">
                                        <div class="back"></div>
                                        <div class="cover"></div>
                                        <div class="paper"></div>
                                        <div class="paper"></div>
                                        <div class="paper"></div>
                                    </div>
                                    <img onclick="openFolderBrowser()" src="/img/plus-sign.png" alt="">
                                </div>
                                <input type="file" name="layersFolder" id="layersFolder" onchange="layersFolderUploaded(this)" class="d-none" data-multiple-caption="{count} files selected" webkitdirectory multiple />
                                <h5 class="mt-4">Create another NFT collection for this project</h5>
                            </div>
                        </div>
                        <div class="col-10 mt-3 col-md-6 col-lg-4 mt-lg-0 col-xl-3 create-smart-contract-container">
                            <div class="nft-card-2 d-flex flex-column justify-content-center align-items-center">
                                <a style="cursor:pointer;" onclick="navigateTo('/user/smart-contract/create', {userUuid: `{{ ../user.uuid }}`, projectId: `{{ _id }}` })">
                                    <img src="/img/smart-contracts-128.png" width="128" alt="smart contract symbol">
                                    <h5 class="mt-4">Create the Smart Contract for this project</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function openFolderBrowser() {
        // const layersFolder = document.getElementById('layersFolder');
        // layersFolder.click();
        return Swal.fire({
            width: 300,
            icon: 'error',
            title: 'Oops...',
            text: 'Not implemented yet',
        })
    }

    function layersFolderUploaded(input) {
        return Swal.fire({
            width: 300,
            icon: 'error',
            title: 'Oops...',
            text: 'Not implemented yet',
        })
    }

    function errorMessage(message) {
        return Swal.fire({
            width: 300,
            position: 'bottom-end',
            icon: 'error',
            title: 'Oops...',
            text: message,
        })
    }

    function navigateTo(url, params = {}) {
        window.location.href = url + '?' + Object.keys(params).map(key => key + '=' + params[key]).join('&');
    }

</script>